@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,800&family=Roboto:wght@100;300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.head{
    background-image: url(./img/developer.png);
    min-height: 900px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.name span{
font-size: 35px;
font-family: 'Brush Script MT', cursive;

}
.name{

    padding-left: 30%;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}
.name h1{
    color: white;
    font-size: 50px;
    margin-top:
    
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* padding: 20px 10px; */
    margin-left: 15px;
    margin-top: 45px;
    height: 600px;
    background-color:
    
}
.main .work-head{
    
    box-shadow: 5px 5px 4px 4px grey;
    width: 350px;
    height: 400px;
    margin: 80px 10px;
    display: block;
    justify-content: center;
    align-items: center;

}
.work-head img{
    width: 100%;
}
.img-content h2,p{
    padding: 10px;
}
.work-head .work{
    width: 100%;
    height: 150px;
    padding: 10px 20px;
    background-color: rgb(6, 62, 166);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    letter-spacing: 5px;
    color: white;
    text-transform: uppercase;
}
.work-head .work h4 span{
    font-size: 80px;
    text-transform: uppercase;
}


footer{
    /* display: flex; */
    /* flex-direction: row;
    justify-content: space-between; */
    color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    

}
footer .contact{
    background-color: maroon;
    height: 200px;
    padding: 30px;
}

footer .about{
    background-color: rgb(11, 106, 62);
    height: 200px;
    padding: 30px;
}

footer .contact h1{
   align-items: center;
}